
	{{burger_name}}

	{{#if devoured}}<button class="eatthis devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		<i class="fas fa-utensils"></i>
	</button>{{else}}<button type="button" class="devoured" disabled><i class="fas fa-utensils"></i></button>{{/if}}
	<br>

